@media (max-width: 813px) and (orientation: landscape) {
  /* ===============================
====================================
====== HEADER ======================
====================================
================================= */

  .header-nav ul li {
    padding: 4rem 2rem 1rem 2rem;
  }

  /* ===============================
====================================
====== FILTERS =====================
====================================
================================= */

  #select-city-input {
    width: 100%;
  }

  #form-text-field {
    width: calc(100% - 50px);
  }

  /* ===============================
====================================
====== RESULTS =====================
====================================
================================= */

  .most-popular-results {
    height: 160vh;
  }

  .most-popular-results .results-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130vh;
  }

  .card-type-1 {
    height: 80vh;
    width: 100%;
  }

  .card-type-2 {
    height: 40vh;
  }

  .raw-results {
    height: 440vh;
  }

  .raw-results .results-cards {
    display: flex;
    flex-direction: column;
  }

  /* ===============================
====================================
====== ACTIVITIES  =================
====================================
================================= */

  #activites {
    margin: 130vh 0 5vh 0;
    padding: 0 1.6rem;
  }

  .activity-card {
    height: 60vh;
  }

  /* ===============================
====================================
====== FOOTER  =====================
====================================
================================= */

  footer {
    height: auto;
  }

  footer .container,
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .footer-col {
    width: 90%;
    margin-bottom: 2rem;
  }

  .footer-col p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .footer-col h4 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* ===============================
====================================
====== ADJUSTMENTS =================
====================================
================================= */
@media (max-width: 568px) and (orientation: landscape) {
  #activites {
    margin: 140vh 0 5vh 0;
    padding: 0 1.6rem;
  }
}
