@media (max-width: 768px) and (orientation: landscape) {
  /* =================================
====================================
====== HEADER ======================
====================================
================================= */

  /* =================================
====================================
====== FILTERS =====================
====================================
================================= */

  #select-city-input {
    width: 100%;
  }

  #form-text-field {
    width: calc(100% - 50px);
  }

  /* =================================
====================================
====== RESULTS =====================
====================================
================================= */

  .most-popular-results {
    height: 160vh;
  }

  .most-popular-results .results-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130vh;
  }

  .card-type-1 {
    height: 60vh;
  }

  .card-type-2 {
    height: 40vh;
  }

  .raw-results {
    height: 240vh;
  }

  .raw-results .results-cards {
    display: flex;
    height: 130vh;
  }

  /* =================================
====================================
====== ACTIVITIES  =================
====================================
================================= */

  .activity-card {
    height: 60vh;
  }

  /* =================================
====================================
====== FOOTER  =====================
====================================
================================= */

  footer {
    height: auto;
  }

  footer .container,
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .footer-col {
    width: 90%;
    margin-bottom: 2rem;
  }

  .footer-col p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .footer-col h4 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) and (orientation: landscape) {
  .card-type-1 {
    height: 80vh;
  }
}
