@media (max-width: 425px) {
  /* ===============================
====================================
====== HEADER ======================
====================================
================================= */

  /* ===============================
====================================
====== FILTERS =====================
====================================
================================= */

  #select-city-input {
    width: 100%;
  }

  #form-text-field {
    width: calc(100% - 50px);
  }

  /* ===============================
====================================
====== RESULTS =====================
====================================
================================= */

  .most-popular-results {
    border-radius: 0px;
    border: none;
    background-color: var(--light-gray);
    height: 90vh;
    width: 100%;
  }

  .card-type-1 {
    width: 100%;
    min-height: 38vh;
    margin-bottom: 2rem;
  }

  /* ===============================
====================================
====== ACTIVITIES  =================
====================================
================================= */

  #activites {
    margin: 190vh 0 5vh 0;
    padding: 0 1.6rem;
  }

  /* ===============================
====================================
====== FOOTER  =====================
====================================
================================= */
}

/* ===============================
====================================
====== ADJUSTMENTS =================
====================================
================================= */
@media (max-width: 320px) {
  #activites {
    margin: 200vh 0 5vh 0;
    padding: 0 1.6rem;
  }
}
