@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --light-gray: #f2f2f2;
  --results-box-height: 85vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", Verdana, sans-serif;
}

main {
  min-height: 70vh;
  padding: 0 5vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.max420-header {
  display: none;
}

/* =================================
====================================
====== HEADER ======================
====================================
================================= */

header {
  height: 13vh;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  list-style-type: none;
}

.header-nav ul li,
.header-nav a {
  padding: 2rem 2rem 0 2rem;
  border-top: 3px solid transparent;
}

.logo {
  padding: 2rem 0;
}

.header-nav ul li:hover,
.header-nav ul li:focus {
  color: var(--primary-color);
  border-top: 3px solid var(--primary-color);
}

.nav-item {
  font-weight: bolder;
}

.signup {
  color: var(--primary-color);
}

/* =================================
====================================
====== FILTERS =====================
====================================
================================= */

.search-parameters form {
  display: flex;
}

.search-parameters form div,
.search-parameters form input,
#form-button {
  height: 2.5rem;
}

.form-icon {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: var(--light-gray);
  border: solid 1px var(--light-gray);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.form-icon2 {
  display: none;
}

#form-text-field {
  border: solid 1px var(--light-gray);
  padding-left: 1rem;
  font-weight: bolder;
}

#form-button {
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-weight: bolder;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters .title {
  margin: 1rem 0.5rem 1rem 0;
  padding: 0.5rem;
  font-weight: bolder;
}

.options:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.filters .options {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  margin: 1rem;
  border: solid 2px var(--light-gray);
  border-radius: 50px;
  height: 2.5rem;
  font-weight: bolder;
}

.filter-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  border-radius: 50%;
}

.filter-title {
  margin: auto 1rem;
}

.search-parameters span {
  margin: 1rem 1rem 1rem 0;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  height: 1rem;
  width: 1rem;
  font-size: 0.6rem;
  color: var(--primary-color);
  border-radius: 50%;
  border: solid 1px var(--light-gray);
}

.sub-info p {
  margin-left: 1rem;
}

/* =================================
====================================
====== RESULTS =====================
====================================
================================= */

.stars {
  display: flex;
}

.accomodation-results {
  display: flex;
}

.accomodation-results h3,
.accomodation-results h4 {
  font-weight: bolder;
}

.accomodation-results p {
  margin-top: 8px;
  font-size: small;
}

.raw-results {
  border-radius: 16px;
  border: none;
  background-color: var(--light-gray);
  margin: 1rem 1rem 0 0;
  height: var(--results-box-height);
  width: 65%;
}

.raw-results .title {
  margin: 20px 0 20px 0;
}

.raw-results .results-cards {
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  justify-content: space-between;
}

.card-type-1 {
  width: 31%;
  height: 28vh;
  border-radius: 16px;
  background-color: white;
  box-sizing: content-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-type-1-picture {
  height: 60%;
  margin: 5px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: aqua;
}

.card-type-1-picture img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.card-type-1-text {
  margin: 10px 8px 8px 8px;
}

.stars {
  font-size: smaller;
  margin-top: 8px;
}

.most-popular-results {
  border-radius: 16px;
  border: none;
  background-color: var(--light-gray);
  margin: 1rem 0 1rem 1rem;
  height: var(--results-box-height);
  width: 35%;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.chart-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 20px 0 20px 20px;
  font-size: x-large;
}

.most-popular-results .results-cards {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-between;
  align-items: center;
}

.most-popular-results .title {
  margin: 20px 0 20px 0;
}

.card-type-2 {
  width: 95%;
  height: 20vh;
  border-radius: 16px;
  background-color: white;
  box-sizing: content-box;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-type-2-picture {
  width: 35%;
  margin: 5px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: aqua;
}

.card-type-2-picture img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}

.card-type-2-text {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* =================================
====================================
====== ACTIVITIES  =================
====================================
================================= */

.activity-results {
  padding-bottom: 3rem;
}

.activity-cards {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 8vh);
  grid-template-areas:
    "A B D E"
    "A B D E"
    "A B D F"
    "A C D F"
    "A C D F ";
}

.activity-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.card-1 {
  grid-area: A;
}
.card-2 {
  grid-area: B;
}
.card-3 {
  grid-area: C;
}
.card-4 {
  grid-area: D;
}
.card-5 {
  grid-area: E;
}
.card-6 {
  grid-area: F;
}

.activity-card-image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.activity-card-text {
  height: 60px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.activity-card-image {
  height: calc(100% - 60px);
}

/* =================================
====================================
====== FOOTER ======================
====================================
================================= */

footer {
  background-color: var(--light-gray);
  padding: 2rem 2rem 2rem 0;
}

footer .container {
  display: flex;
  align-items: center;
}

.footer-col {
  width: 33%;
  height: 100%;
}

.footer-col p,
.footer-col h4 {
  margin: 1rem;
}
