.container {
  margin: 0 1.7rem;
}

.flx {
  display: flex;
}

.fcol {
  flex-direction: column;
}

.spbtw {
  justify-content: space-between;
}

.btn {
  padding: 1vh;
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
}

.blue {
  color: var(--primary-color);
}

.gray {
  color: darkgrey;
}

.gutter {
  margin-bottom: 0.5rem;
}

.gutter1 {
  margin-bottom: 1rem;
}

.gutter2 {
  margin-bottom: 2rem;
}
